Repository CDCgov/rsv-forecast-hub, pull requests merged in 2025-09, with the labels that each got.

#82 Onboard rsv-forecast-hub to AWS/S3
  .github/workflows/hubverse-aws-upload.yaml
  README.md
  hub-config/admin.json
Labels: documentation, configuration

#111 add baseline forecasts
  hub-config/tasks.json
  model-metadata/RSVHub-baseline.yaml
  model-output/RSVHub-baseline/2025-09-20-RSVHub-baseline.csv
Labels: configuration, data-submission, model-metadata

#126 add metadata
  model-metadata/CFA_Pyrenew-Pyrenew_E_RSV.yaml
  model-metadata/CFA_Pyrenew-Pyrenew_HE_RSV.yaml
  model-metadata/CFA_Pyrenew-Pyrenew_H_RSV.yaml
Labels: model-metadata

#129 add metadata for RSVhub ensemble
  model-metadata/RSVHub-ensemble.yaml
Labels: model-metadata

#131 Submit PyRenew forecasts table for 2025-09-24
  model-output/CFA_Pyrenew-Pyrenew_E_RSV/2025-09-27-CFA_Pyrenew-Pyrenew_E_RSV.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_RSV/2025-09-27-CFA_Pyrenew-Pyrenew_HE_RSV.csv
  model-output/CFA_Pyrenew-Pyrenew_H_RSV/2025-09-27-CFA_Pyrenew-Pyrenew_H_RSV.csv
Labels: data-submission
